attrs==19.3.0
entrypoints==0.3
flake8==3.7.9
importlib-metadata==0.23
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.5
six==1.13.0
wcwidth==0.1.7
zipp==0.6.0
pytest==5.2.4